<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Items</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="/">Gestion Items</a>
    <!-- navbar-links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" th:href="@{/items/new}">Crear Items</a> </li>
        </ul>
    </div>
</nav>



<div class="container">
    <h1> Gestion Items</h1>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
            <th scope="col">Envase</th>
            <th scope="col">Capacidad</th>
            <th scope="col">Nevera</th>
            <th scope="col">Fecha Registro</th>
            <th scope="col">Estado</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${listItems}">
            <td th:text=${item.id}>Item </td>
            <td th:text=${item.nombre}>Nombre </td>
            <td th:text=${item.tipo}>Tipo </td>
            <td th:text=${item.envase}>Envase </td>
            <td th:text=${item.capacidad}>Capacidad </td>
            <td th:text=${item.nevera}>Nevera </td>
            <td th:text=${item.fecha2}>Fecha Registro </td>
            <td th:text=${item.estado}>Estado</td>

        </tr>
        </tbody>
      </table>
    </div>
</body>

</html>