<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Items</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container-fluid text-center">
    <h1> Gestion Items</h1>
    <div class="m-2">
        <a class="h3" th:href="@{/items/new}">Crear Items</a>
    </div>

    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo</th>
                <th scope="col">Envase</th>
                <th scope="col">Capacidad</th>
                <th scope="col">Nevera</th>
                <th></th>

            </tr>

            </thead>
            <tbody>
            <th:block th:each="item : ${listItems}">
                <tr>
                    <td>[[${item.id}]] </td>
                    <td>[[${item.nombre}]] </td>
                    <td>[[${item.tipo}]] </td>
                    <td>[[${item.envase}]] </td>
                    <td>[[${item.capacidad}]] </td>
                    <td>[[${item.nevera}]] </td>
                    <td>



                    </td>
                </tr>

            </th:block>
            </tbody>


        </table>


    </div>
</div>
</body>
</html>